# Kollokasjoner med bruk av distanse

In [4]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
#mu.update('collocations', overwrite=True)
from collocations import dist_coll_urn, urn_coll
import pandas as pd
mu.css()

Et korpus med bøker inneholdende ordet *kaffe*, og et med verbet *spiser*

In [71]:
corpus = nb.book_corpus(words=['kaffe'], ddk="83%", limit=300)
corpus.head()

             urn                 author                   title  year
0  2013082905004       Skråmestø, Børge      Tårer i champagnen  2008
1  2010042203026  Thorkildsen, Thorkild                 Bacalao  1999
2  2014082708032         Neverlien, Per  I en hage ved en fjord  2001
3  2007041901054           Hansen, Lars     I Spitsbergens vold  1965
4  2014072305066      Sørensen, Ingvild           Piken fra før  2005

#

In [70]:
corpus0 = nb.book_corpus(words=['spiser'], ddk="83%", limit=300)
corpus0.head()

,urn,author,title,year
0,2008030400067,"Henriksen, Vera",Dronningsagaen ; Kongespeil ; Runekorset,1995
1,2016090708110,"Michelet, Jon",Orions belte,1994
2,2007110504077,"Tønseth, Jan Jakob",Hilmar Iversens ensomhet,1992
3,2011100406147,"Bjørneboe, Jens",Uten en tråd,2005
4,2013070508061,"Stensrud, Eva J.",Til døden skiller eder ad,2012

Bygger kollokasjonen med kommandoen `dist_coll_urn`

In [72]:
kaffe = dist_coll_urn('kaffe', nb.pure_urn(corpus), before=10, after=0)

Resultatet er en dataramme med tre kolonner, frekvens - `freq`, gjennomsnittlig distanse - `dist`, og korrigert distanse - `score`

In [73]:
kaffe.sort_values(by='freq', ascending=False)[:20]

         freq  dist  score
.      1525.0 -6.45  -6.45
,      1225.0 -6.06  -6.06
og     1136.0 -4.87  -4.87
en      778.0 -3.87  -3.87
med     537.0 -4.12  -4.12
på      492.0 -5.34  -5.34
i       445.0 -6.61  -6.61
kopp    419.0 -1.39  -1.40
å       310.0 -5.30  -5.30
til     303.0 -6.13  -6.13
seg     295.0 -5.46  -5.46
det     270.0 -6.27  -6.27
han     257.0 -5.94  -5.94
jeg     222.0 -5.75  -5.75
drakk   208.0 -1.62  -1.64
av      206.0 -4.93  -4.93
-       198.0 -5.85  -5.85
ikke    197.0 -5.99  -5.99
var     180.0 -6.80  -6.79
hadde   177.0 -5.42  -5.42

Her sortert på score, fra nærmest og utover. Negative tall indikerer venstre kontekst.

In [74]:
kaffe.sort_values(by='score', ascending=False)[:20]

             freq  dist  score
drikker      82.0 -1.29  -1.34
Mer          12.0 -1.00  -1.38
kopp        419.0 -1.39  -1.40
kop          12.0 -1.17  -1.53
drikke       89.0 -1.51  -1.55
mer         101.0 -1.55  -1.59
sterk        24.0 -1.43  -1.60
drakk       208.0 -1.62  -1.64
kruttsterk    9.0 -1.17  -1.65
svart        45.0 -1.58  -1.67
mark          9.0 -1.25  -1.72
koke         45.0 -1.64  -1.73
nytraktet     6.0 -1.00  -1.75
lunken        6.0 -1.00  -1.75
nykokt        6.0 -1.00  -1.75
kokte        50.0 -1.72  -1.80
drukket      58.0 -1.75  -1.81
sølte         6.0 -1.10  -1.83
slurk        18.0 -1.78  -1.99
bestiller     7.0 -1.43  -2.01

Kan ta en kjapp sjekk med pmi-beregnet kollokasjon

In [75]:
tot = nb.frame(nb.totals(50000), 'tot')

In [76]:
# eksponenten vekter frekvensen mer - eksperimenter litt

kaffe['pmi'] = kaffe['freq']**1.8/tot['tot']

In [77]:
kaffe.sort_values(by='pmi', ascending=False).head(20)

             freq  dist  score       pmi
kopp        419.0 -1.39  -1.40  0.174344
drakk       208.0 -1.62  -1.64  0.024901
skjenket     79.0 -2.10  -2.14  0.014167
drikker      82.0 -1.29  -1.34  0.007907
kopper       47.0 -2.52  -2.58  0.006546
drukket      58.0 -1.75  -1.81  0.006447
kanne        21.0 -1.97  -2.14  0.006067
kokte        50.0 -1.72  -1.80  0.005578
helte        32.0 -2.70  -2.79  0.004367
koke         45.0 -1.64  -1.73  0.004301
bestilte     34.0 -2.08  -2.18  0.004240
drikke       89.0 -1.51  -1.55  0.003863
rykende      19.0 -2.24  -2.41  0.003520
kop          12.0 -1.17  -1.53  0.003362
serverte     20.0 -1.94  -2.12  0.003103
krus         18.0 -2.53  -2.70  0.002838
kjøkkenet    72.0 -5.50  -5.50  0.002725
koker        21.0 -2.15  -2.31  0.002263
skjenker     12.0 -2.15  -2.43  0.001959
brødskiver    7.0 -4.00  -4.21  0.001328

In [78]:
spise = dist_coll_urn('spiser', nb.pure_urn(corpus0), before=0, after=20)

In [79]:
spise.sort_values(by='freq', ascending=False)[:10]

       freq   dist  score
.    1351.0  10.28  10.28
,    1016.0   9.38   9.38
og    605.0   9.64   9.64
i     348.0  10.62  10.62
er    308.0  11.40  11.40
det   298.0  10.83  10.83
på    298.0  11.40  11.40
en    252.0  11.05  11.05
med   250.0   9.83   9.83
jeg   234.0   9.88   9.88

In [80]:
spise.sort_values(by='score', ascending=True).head(20)

           freq  dist  score
frokost    42.0  1.70   1.91
middag     49.0  2.48   2.64
lunsj      14.0  2.20   2.79
kveldsmat   5.0  1.40   3.22
suppe       5.0  1.60   3.38
taushet    11.0  2.83   3.53
alene       6.0  2.60   3.92
grådig      4.0  2.25   4.31
pizza       3.0  1.33   4.39
halv        5.0  2.88   4.40
appetitt    5.0  3.00   4.50
kylling     3.0  1.67   4.61
sakte       3.0  2.25   5.00
kaker       5.0  3.62   5.00
is          8.0  4.25   5.03
drikker    48.0  4.92   5.04
aftens      4.0  3.33   5.12
prater      4.0  3.50   5.25
fluer       3.0  2.67   5.28
frokost.    3.0  2.67   5.28

In [81]:
spise['pmi'] = spise['freq']**1/tot['tot']

In [82]:
spise.sort_values(by='pmi', ascending=False).head(20)

             freq   dist  score       pmi
tygger        7.0  13.29  12.89  0.000209
kveldsmat     5.0   1.40   3.22  0.000151
frokost      42.0   1.70   1.91  0.000151
drikker      48.0   4.92   5.04  0.000136
skjeen        5.0  10.00  10.10  0.000133
kalkun        3.0   3.33   5.72  0.000127
brekker       4.0   9.00   9.38  0.000126
chips         3.0   4.33   6.39  0.000123
skyller       4.0  10.50  10.50  0.000115
aroma         3.0   9.00   9.50  0.000111
spiser       50.0   9.51   9.53  0.000099
fS            2.0  14.00  12.25  0.000090
svetter       2.0   5.00   7.75  0.000085
vafler        2.0   2.00   6.25  0.000084
sigarettene   2.0   5.00   7.75  0.000083
overarmen     2.0   8.00   9.25  0.000083
kakene        4.0   7.50   8.25  0.000083
steker        2.0  11.00  10.75  0.000081
kniper        2.0  16.00  13.25  0.000081
aftens        4.0   3.33   5.12  0.000081

# Bruk ordbanken til å gruppere ordene i kollokasjonene

Det er api-funksjoner for ordbanken (bokmål for øyeblikket)

In [83]:
nb.word_form('spiser')

['subst mask appell fl ub normert',
 'verb pres <intrans1> <trans1> <trans11/opp> <trans11/på> <predik6> <refl9/innpå> <trans4> <part3/i> normert']

Vi lager en heuristikk for å velge form, med en hjelpekommando `klassifiser`, der resultatene rangeres som *det*, *verb*, *subst*, *adj*, ellers ta første forslag i listen - det her gjelder bare for POS.

In [84]:
def velg_form(word):
    former = list({x.split()[0] for x in nb.word_form(word)})
    if 'det' in former:
        res = 'det'
    elif 'pron' in former:
        res = 'pron'
    elif 'verb' in former:
        res = 'verb'
    elif 'subst' in former:
        res = 'subst'
    elif 'adj' in former:
        res = 'adj'
    else:
        try:
            res = former[0]
        except:
            res = 'ukjent'
    return res

def klassifikasjon(df, num = 60, up=True):
    gruppering = list(map(lambda w: (w, velg_form(w)), df.sort_values(by='score', ascending=up).head(num).index))
    grupper = dict(gruppering)
    grupperinger = {cat:[w for w in grupper if grupper[w] == cat] for cat in grupper.values()}
    return nb.frame(grupperinger).transpose().fillna('')

In [85]:
klassifikasjon(spise, num=80)

         subst        verb      adj       ukjent   det     adv
0      frokost       lunsj   grådig     frokost.   tre  sammen
1       middag        halv  stående         min.  fire
2    kveldsmat       sakte  gammelt      Tropisk  tolv
3        suppe       kaker   mindre       Fanden  seks
4      taushet          is     mest  mokkabønner
5        alene     drikker     rått      Klokken
6        pizza      prater                 lunch
7     appetitt        svin                   Her
8      kylling       varme               sølvfat
9       aftens         and                   de.
10       fluer        gift                  Lise
11    stillhet      piller                  alt.
12  knekkebrød      pleier
13       kjøtt        kake
14      kalkun  fortsetter
15  nistematen      vafler
16    smørbrød       leser
17      pølser        fins
18      grøten      fyller
19       epler     forstår
20  pannekaker       skive
21   desserten      skiver
22      nesten        mett
23    løksuppe        røkt
24        eple         frø
25       salat       mette
26        faen
27       chips
28   aftensmat
29   matpakken
30     klokken

In [86]:
klassifikasjon(kaffe, num=60, up=False)

         verb     ukjent         adj    subst
0     drikker        Mer         mer     mark
1        kopp  nytraktet       sterk   lunken
2         kop     nykokt  kruttsterk    kanne
3      drikke    nybrent   nytrukket    enkét
4       drakk      Svart        kald   skjeer
5       svart        God     rykende  tyrkisk
6        koke   skjenkét      kokhet
7       kokte      sælge    beksvart
8     drukket                 tredje
9       sølte
10      slurk
11  bestiller
12       varm
13       kokt
14     solgte
15       lage
16   serverte
17      lager
18   skjenket
19   bestilte
20    servere
21      koker
22        fik
23       fekk
24  spanderte
25       tynn
26   skjenker
27         ny
28     skvett
29    servert
30       male
31    skjenke
32       pose
33     kopper
34      henta
35      hente
36       krus