# Kollokasjoner med bruk av distanse

In [4]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
#mu.update('collocations', overwrite=True)
from collocations import dist_coll_urn, urn_coll
import pandas as pd
mu.css()

Et korpus med bøker inneholdende ordet *kaffe*, og et med verbet *spiser*

In [5]:
corpus = nb.book_corpus(words=['kaffe'], limit=100)
corpus.head()

,urn,author,title,year
0,2010092320008,"Hagerup, Klaus",Alt er så nær meg,1990
1,2016090648015,,God forretningsskikk,1957
2,2007071601037,"Arnulf, Ingrid",Anemone mot asfalt,1973
3,2016020807622,,Bureising i Heidal,2010
4,2010043003021,"Beauvoir, Simone de",veloppdragen ung pikes erindringer,1996

#

In [6]:
corpus0 = nb.book_corpus(words=['spiser'], limit=100)
corpus0.head()

,urn,author,title,year
0,2016011207591,"Jepson, Tim",Opplev Portugal,2006
1,2009062201025,"Asheim, Konrad",Lærebok i norsk for folkeskolen,1939
2,2013040807235,"St. John, Patricia M.","Kan du tilgi, Lamia?",1984
3,2014071706024,"Tutein, Peter",Dramaet i storisen,1947
4,2011081808127,,Overvåking av marinbiologiske forhold ved Nors...,1997

Bygger kollokasjonen med kommandoen `dist_coll_urn`

In [7]:
kaffe = dist_coll_urn('kaffe', nb.pure_urn(corpus), before=10, after=0)

Resultatet er en dataramme med tre kolonner, frekvens - `freq`, gjennomsnittlig distanse - `dist`, og korrigert distanse - `score`

In [8]:
kaffe.sort_values(by='freq', ascending=False)[:20]

        freq  dist  score
.      326.0 -6.60  -6.60
,      320.0 -5.86  -5.86
og     312.0 -4.53  -4.53
en     181.0 -4.24  -4.25
med    104.0 -4.14  -4.15
i      104.0 -5.89  -5.89
på     103.0 -5.65  -5.65
kopp    76.0 -1.25  -1.31
det     69.0 -6.16  -6.15
å       66.0 -5.11  -5.12
til     64.0 -5.80  -5.80
var     63.0 -6.53  -6.51
av      62.0 -5.44  -5.44
for     54.0 -6.60  -6.58
drakk   54.0 -1.84  -1.91
seg     51.0 -5.07  -5.08
jeg     50.0 -5.84  -5.83
som     47.0 -6.73  -6.70
Jeg     41.0 -5.31  -5.31
han     37.0 -5.92  -5.91

Her sortert på score, fra nærmest og utover. Negative tall indikerer venstre kontekst.

In [9]:
kaffe.sort_values(by='score', ascending=False)[:20]

           freq  dist  score
kopp       76.0 -1.25  -1.31
slurk      10.0 -1.00  -1.45
kanne       9.0 -1.07  -1.56
varm        8.0 -1.17  -1.71
kopper     15.0 -1.50  -1.77
drakk      54.0 -1.84  -1.91
drikke     18.0 -1.87  -2.07
nytraktet   4.0 -1.00  -2.12
koke        4.0 -1.00  -2.12
svart      15.0 -1.90  -2.14
hente       5.0 -1.33  -2.16
lage        8.0 -1.77  -2.24
sterk       7.0 -1.70  -2.24
skjenket   20.0 -2.12  -2.29
servert     6.0 -1.67  -2.31
kokte       9.0 -1.92  -2.32
traktet     5.0 -1.56  -2.35
litt       24.0 -2.25  -2.39
te          8.0 -2.00  -2.44
kjøper      3.0 -1.00  -2.50

Kan ta en kjapp sjekk med pmi-beregnet kollokasjon

In [10]:
tot = nb.frame(nb.totals(50000), 'tot')

In [11]:
# eksponenten vekter frekvensen mer - eksperimenter litt

kaffe['pmi'] = kaffe['freq']**1.8/tot['tot']

In [12]:
kaffe.sort_values(by='pmi', ascending=False).head(20)

             freq  dist  score       pmi
kopp         76.0 -1.25  -1.31  0.008070
drakk        54.0 -1.84  -1.91  0.002198
kanne         9.0 -1.07  -1.56  0.001320
skjenket     20.0 -2.12  -2.29  0.001195
bestilte     14.0 -3.08  -3.25  0.000859
kopper       15.0 -1.50  -1.77  0.000838
serverte      9.0 -2.29  -2.65  0.000737
vafler        4.0 -2.33  -3.12  0.000509
slurk        10.0 -1.00  -1.45  0.000385
Mikael        7.0 -6.14  -6.05  0.000349
rasjonering   3.0 -4.00  -4.50  0.000277
kop           3.0 -2.00  -3.17  0.000277
smørbrød      5.0 -3.50  -3.90  0.000259
kokte         9.0 -1.92  -2.32  0.000255
kaffe        17.0 -5.88  -5.86  0.000231
drikke       18.0 -1.87  -2.07  0.000218
kakao         4.0 -3.17  -3.75  0.000214
dråk          4.0 -3.00  -3.62  0.000206
drikker      10.0 -3.07  -3.31  0.000179
servert       6.0 -1.67  -2.31  0.000163

In [13]:
spise = dist_coll_urn('spiser', nb.pure_urn(corpus0), before=0, after=20)

In [14]:
spise.sort_values(by='freq', ascending=False)[:10]

      freq   dist  score
.    414.0  10.53  10.53
,    385.0   8.79   8.79
og   230.0   8.82   8.83
i    132.0  11.78  11.77
er   122.0  10.42  10.42
det  105.0  10.12  10.12
på   100.0   9.87   9.88
med   99.0   8.24   8.26
en    96.0  11.10  11.09
som   86.0  10.89  10.89

In [15]:
spise.sort_values(by='score', ascending=True).head(20)

            freq  dist  score
middag      16.0  2.50   3.00
frokost      6.0  2.00   3.42
lunsj       10.0  2.88   3.64
består       7.0  3.00   4.07
frukt        4.0  2.00   4.12
kjøtt        4.0  2.25   4.31
fisk        10.0  3.95   4.61
planter      5.0  3.56   4.95
sammen      22.0  4.93   5.18
hos          6.0  4.20   5.25
op           2.0  1.00   5.75
opptil       2.0  1.00   5.75
laks         2.0  1.00   5.75
mat         28.0  5.71   5.88
bøker        6.0  5.00   5.92
sjokoladen   3.0  3.67   5.95
Frokost      2.0  1.50   6.00
hardkokte    2.0  1.50   6.00
store        3.0  4.00   6.17
Med          3.0  4.00   6.17

In [24]:
spise['pmi'] = spise['freq']**1.02/tot['tot']

In [25]:
spise.sort_values(by='pmi', ascending=False).head(20)

                 freq   dist  score       pmi
karbohydrater    24.0   9.50   9.54  0.000502
proteiner         9.0  12.86  12.60  0.000123
gås               5.0   7.20   7.86  0.000115
næringsstoffene   3.0  15.25  13.67  0.000113
sjokoladen        3.0   3.67   5.95  0.000088
kalkun            2.0   6.50   8.50  0.000086
brødskiver        2.0   6.50   8.50  0.000081
barnebarnet       2.0  14.50  12.50  0.000071
tarmene           2.0  11.50  11.00  0.000070
skjellene         2.0   4.00   7.25  0.000067
LIVET             2.0  13.00  11.75  0.000064
Frokost           2.0   1.50   6.00  0.000062
spinat            2.0   6.50   8.50  0.000057
inntaket          2.0  12.00  11.25  0.000056
mammas            2.0   3.00   6.75  0.000053
rosene            2.0  14.00  12.25  0.000051
biff              2.0  12.00  11.25  0.000050
filosofene        1.0  12.00  10.50  0.000046
skjeller          1.0  13.00  10.50  0.000046
kantete           1.0  12.00  10.50  0.000046

# Bruk ordbanken til å gruppere ordene i kollokasjonene

Det er api-funksjoner for ordbanken (bokmål for øyeblikket)

In [79]:
nb.word_form('spiser')

['subst mask appell fl ub normert',
 'verb pres <intrans1> <trans1> <trans11/opp> <trans11/på> <predik6> <refl9/innpå> <trans4> <part3/i> normert']

Vi lager en heuristikk for å velge form, med en hjelpekommando `klassifiser`, der resultatene rangeres som *det*, *verb*, *subst*, *adj*, ellers ta første forslag i listen - det her gjelder bare for POS.

In [98]:
def velg_form(word):
    former = list({x.split()[0] for x in nb.word_form(word)})
    if 'det' in former:
        res = 'det'
    elif 'pron' in former:
        res = 'pron'
    elif 'verb' in former:
        res = 'verb'
    elif 'subst' in former:
        res = 'subst'
    elif 'adj' in former:
        res = 'adj'
    else:
        try:
            res = former[0]
        except:
            res = 'ukjent'
    return res

def klassifikasjon(df, num = 60, up=True):
    gruppering = list(map(lambda w: (w, velg_form(w)), df.sort_values(by='score', ascending=up).head(num).index))
    grupper = dict(gruppering)
    grupperinger = {cat:[w for w in grupper if grupper[w] == cat] for cat in grupper.values()}
    return nb.frame(grupperinger).transpose().fillna('')

In [100]:
klassifikasjon(spise, num=80)

,subst,verb,det,adj,adv,prep,pron,ukjent,fork
0,middag,lunsj,tre,små,aller,ute,hva,de.,off
1,frokost,opp,mitt,mest,aldri,omkring,,seipanetter,
2,mus,frukt,alt,hovedsakelig,først,ned,,Noen,
3,fluer,lite,din,forskjellig,akkurat,,,45,
4,østers,mat,ett,sikker,nok,,,„,
5,smørbrødet,sover,annet,mer,omtrent,,,Kristian,
6,asparges,meget,eneste,mye,,,,Prøv,
7,sjokolade,liker,alle,,,,,Brekk,
8,toppen,dyr,,,,,,,
9,fanden,brød,,,,,,,
10,rullene,føler,,,,,,,
11,hirse,planter,,,,,,,
12,gjødsel,røyker,,,,,,,
13,kjøtt,godt,,,,,,,
14,kjeksene,dør,,,,,,,
15,bladlus,svarer,,,,,,,
16,grøt,par,,,,,,,
17,fisken,smør,,,,,,,
18,n,plager,,,,,,,
19,kjøttet,trekker,,,,,,,
20,gode,leker,,,,,,,
21,nesten,heller,,,,,,,
22,millioner,,,,,,,,
23,lenger,,,,,,,,

In [102]:
klassifikasjon(kaffe, num=60, up=False)

         verb   ukjent   konj      subst       adj symb      adv det
0       svart   nykokt   både      kanne   rykende   Te  akkurat  to
1        kopp      Mer  enten       koka       mye
2       drakk    stærk            lunken     sterk
3        lage      och            middag       mer
4      kopper  Kaarina               med  dampende
5        varm    kjøbe         sjokolade
6     drikker                          a
7        koke
8        kokt
9     drukket
10      kokte
11     drikke
12     trakte
13        kop
14    traktet
15      laget
16    servert
17      koker
18       krus
19         ha
20     sukker
21   skjenker
22   skjenket
23      slurk
24         te
25       ekte
26         ny
27       litt
28     luktet
29   bestilte
30  spanderer
31        byr
32       lyst
33       vann
34       rakk
35      ville
36     tilbød